body {
  background-color: #000000;
}

/* navbar */
.title {
  background-color: transparent;
}

/* .title-div {
  padding: 0 5%;
} */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  color: red;
  /* font-weight: bold; */
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 100;
  font-size: 1.2rem;
}

.header {
  padding: 5px 120px;
  width: 150px;
  height: 70px;
}

.border {
  padding: 80px 10px;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background-color: #141414;
}

.btn {
  padding: 10px 40px;
  background-color: red;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
}

.textbox {
  padding: 10px 40px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
}

.headings {
  color: #ffffff;
  font-weight: bold;
}

.bottom {
  color: #737373;
  font-style: oblique;
  font-weight: bold;
}

.bottom > a {
  color: #ffffff;
}

.home {
  padding: 0 5%;
}
